<!-- index.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"/></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">

    <!-- tournament olympic bracket -->
    <script src="/assets/js/jquery.bracket.min.js"></script>
    <link href="/assets/css/jquery.bracket.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/main.css">

  </head>
  <body>
    <div id="react-main-mount">
        <%= reactHtml %>
    </div>
    <script src="/assets/js/index.js"></script>
  </body>
</html>