.game-list-row {
    border: 1px solid #AAAAAA;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
}

.game-list-row .fieldId {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.jQBracket .tools{
    display: none;
}

.float-right {
    float: right;
}

@media print {
    span.label {
        border: 0px;
    }

    span.label-success {
        border: 1px solid black;
    }

    .nav {
        display: none;
    }

    .gameResult-tour {
        display: none;
    }
}

.game-border-rouded {
    padding: 5px;
}

.game-border-rouded .sub-level{
    border: 1px solid #CCC;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    line-height: 38px;
}

.field-number {
    text-align: center;
    width: 38px;
    height: 38px;
    padding: 4px 0;
}

.sub-field-number {
    border: 1px solid #CCC;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    font-weight: bold;